<h1> Welcome to Super Rentals </h1>

<br>
<div id="body">
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p>
  <div class="">
    <h2>Available Rentals</h2>
    <ul>
      {{#each model.rental as |rental|}}
        {{rental-popularity rental}}{{rental-tile rental=rental}} {{rental-cost rental}}
      {{/each}}
    </ul>
  </div>

  <!-- <div>
    <h2> All Reviews </h2>

    <ul>
      {{#each model.reviews as |review|}}
        <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
      {{/each}}
    </ul>

    <hr>
  </div> -->

</div>
{{new-rental saveRental2="saveRental3"}}
